@page
@model ServiciosModel
@{
    ViewData["Title"] = "Servicios Disponibles";
}

<h2>Servicios Disponibles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Duración</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.ListadoServicios)
        {
            <tr>
                <td>@s.Nombre</td>
                <td>@s.DuracionMinutos minutos</td>
            </tr>
        }
    </tbody>
</table>

